:root {
  --sl-font: "Fira Sans", sans-serif;
}

/* Dark mode colors. */
:root {
  --sl-color-accent-low: #351240;
  --sl-color-accent: #a000c7;
  --sl-color-accent-high: #e1b7f0;
  --sl-color-white: #ffffff;
  --sl-color-gray-1: #b1feff;
  --sl-color-gray-2: #6ad6d8;
  --sl-color-gray-3: #009fa2;
  --sl-color-gray-4: #006567;
  --sl-color-gray-5: #004142;
  --sl-color-gray-6: #002e2e;
  --sl-color-black: #001d1e;
}
/* Light mode colors. */
:root[data-theme="light"] {
  --sl-color-accent-low: #e9caf5;
  --sl-color-accent: #a300ca;
  --sl-color-accent-high: #4c0f5e;
  --sl-color-white: #001d1e;
  --sl-color-gray-1: #002e2e;
  --sl-color-gray-2: #004142;
  --sl-color-gray-3: #006567;
  --sl-color-gray-4: #009fa2;
  --sl-color-gray-5: #6ad6d8;
  --sl-color-gray-6: #b1feff;
  --sl-color-gray-7: #daffff;
  --sl-color-black: #ffffff;
}
